..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.log
biodbUniprot_*.tar.gz
biodbUniprot_*.tgz
biodbUniprot.Rcheck
cache
doc
man
Meta
src-i386
src-x64
src/*.rds
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
